<div class="container-fluid" style="padding-right: 24px">
  <div class="row">
    <div class="col-xl-7 col-lg-10 col-md-12">
      <mat-card class="card-with-icon">
        <mat-card-header style="padding-bottom: 16px">
          <h4 class="card-header-text bg-blue">Export / Import</h4>
        </mat-card-header>
        <mat-card-content>
          <div class="export-row">
            <div class="export-info">
              <h5>Eszközök exportálása</h5>
              <p>Az összes eszköz letöltése Excel (.xlsx) fájlként, minden mezővel.</p>
            </div>
            <button mat-raised-button color="primary" type="button"
                    [disabled]="exportingDevices"
                    (click)="exportDevices()">
              @if (exportingDevices) {
                <mat-spinner diameter="20"></mat-spinner>
              } @else {
                <mat-icon>download</mat-icon>
              }
              Letöltés
            </button>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="card-with-icon mt-5">
        <mat-card-header style="padding-bottom: 16px">
          <h4 class="card-header-text bg-blue">Eszközök importálása</h4>
        </mat-card-header>
        <mat-card-content>
          <div class="export-row">
            <div class="export-info">
              <h5>Import Excelből</h5>
              <p>Az exportált fájlhoz hasonló oszlopnevekkel rendelkező .xlsx fájl feltöltése. A createdAt,
                createdBy, updatedAt, updatedBy és deleted oszlopok elhagyhatók, azok nem szükségesek az eszközök
                létrehozásához. Hiányzó vonalkód/azonosító, beszerzés dátuma, állapot és mennyiség esetén automatikus
                érték kerül kitöltésre.</p>
            </div>

            <input #fileInput type="file" accept=".xlsx" hidden (change)="onFileSelected($event)">
            <button mat-raised-button color="primary" type="button"
                    [disabled]="importing"
                    (click)="fileInput.click()">
              @if (importing) {
                <mat-spinner diameter="20"></mat-spinner>
              } @else {
                <mat-icon>upload</mat-icon>
              }
              Fájl kiválasztása
            </button>
          </div>

          @if (importProgress) {
            <div class="import-progress">
              <mat-progress-bar mode="determinate"
                                 [value]="(importProgress.current / importProgress.total) * 100"></mat-progress-bar>
              <span>{{ importProgress.current }} / {{ importProgress.total }} eszköz feldolgozva</span>
            </div>
          }

          @if (!importing && importFailures.length > 0) {
            <div class="import-failures">
              <h5>Sikertelen sorok ({{ importFailures.length }})</h5>
              <ul>
                @for (failure of importFailures; track failure.row) {
                  <li>{{ failure.row }}. sor &ndash; <b>{{ failure.name }}</b>: {{ failure.message }}</li>
                }
              </ul>
            </div>
          }
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
