@if (loading()) {
  <mat-spinner diameter="32" class="mini-list-spinner"></mat-spinner>
} @else if (rents().length === 0) {
  <p class="no-rents">Nincs kivitel ehhez az elemhez.</p>
} @else {
  <table mat-table [dataSource]="rents()" class="mat-elevation-z8 mini-rent-table">
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let rent" class="icon-column" [matTooltip]="rent.closed ? 'Lezárva' : 'Nyitva'">
        @if (rent.closed) {
          <mat-icon style="color: #8bc34a">done_all</mat-icon>
        } @else {
          <mat-icon style="color: #c62828">camera_outdoor</mat-icon>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="destination">
      <th mat-header-cell *matHeaderCellDef>Kivitel célja</th>
      <td mat-cell *matCellDef="let rent"> {{ rent.destination }}</td>
    </ng-container>

    <ng-container matColumnDef="outDate">
      <th mat-header-cell *matHeaderCellDef>Kivitel ideje</th>
      <td mat-cell *matCellDef="let rent"> {{ rent.outDate | date:'yyyy. MM. dd.' }}</td>
    </ng-container>

    <ng-container matColumnDef="expectedReturnDate">
      <th mat-header-cell *matHeaderCellDef>Várható visszaérkezés</th>
      <td mat-cell *matCellDef="let rent"> {{ rent.expectedReturnDate | date:'yyyy. MM. dd.' }}</td>
    </ng-container>

    <ng-container matColumnDef="actualReturnDate">
      <th mat-header-cell *matHeaderCellDef>Tényleges visszaérkezés</th>
      <td mat-cell *matCellDef="let rent">
        @if (!rent.closed) {
          Nem jött még vissza
        } @else {
          {{ rent.actualReturnDate | date:'yyyy. MM. dd.' }}
        }
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        (click)="openRent(row)"
        class="clickable-row"
        *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
}
