<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <div class="card-title ">
                            <div class="nav-tabs-navigation list-title mt-1">
                                <div class="nav-tabs-wrapper">
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="nav-item " [ngClass]="{ 'active':currentTab==='devices'}">
                                            <a href="#devices" class="nav-link"
                                               [routerLink]="['/devices']"
                                               [ngClass]="{ 'active':currentTab==='devices'}"
                                               data-toggle="tab"
                                               (click)="setTab('devices')">
                                                <h4 class="mb-0">Eszközök</h4>
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <li class="nav-item" [ngClass]="{ 'active':currentTab==='composites'}">
                                            <a href="#composites" class="nav-link"
                                               [routerLink]="['/compositeItems']"
                                               [ngClass]="{ 'active':currentTab==='composites'}"
                                               data-toggle="tab"
                                               (click)="setTab('composites')">
                                                <h4 class="mb-0">Összetett eszközök</h4>
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pull-right form-inline">
                                <mat-form-field class="deviceSearchField">
                                    <mat-label>Keresés...</mat-label>
                                    <input matInput class="searchInput" type="text" [formControl]="searchControl"
                                           (keyup.escape)="searchControl.setValue('')"
                                           autocomplete="off">
                                    <button mat-button matSuffix mat-icon-button
                                            *ngIf="searchControl.value !== ''" aria-label="search">
                                        <mat-icon (click)="searchControl.setValue('')">clear</mat-icon>
                                    </button>
                                </mat-form-field>
                                <button class="ml-1 popupBase" mat-button mat-icon-button aria-label="filter"
                                        onClick='document.getElementById("filterPopup").classList.toggle("show");
                                                 document.getElementById("bulkToolsPopup").classList.remove("show");'>
                                    <mat-icon>filter_alt</mat-icon>

                                    <div class="popupBox pl-3" id="filterPopup">
                                        <h4 class="mt-1">Eszközök szűrése</h4>
                                        <span class="deleteFilters" (click)="deleteFilters()">Szűrők törlése</span>

                                        <h6>Tárolási hely</h6>
                                        <section class="location-section" [formGroup]="locationGroup">
                                            <p *ngFor="let location of locations"
                                               class="mb-0">
                                                <mat-checkbox class="ml-2" color="accent" disableRipple="true"
                                                              formControlName="{{ location.id }}"
                                                              onClick="event.stopPropagation();">
                                                    <span style="color: white">{{ location.name }}</span>
                                                </mat-checkbox>
                                            </p>
                                        </section>

                                        <h6>Kategória</h6>
                                        <section class="category-section" [formGroup]="categoryGroup">
                                            <p *ngFor="let category of categories"
                                               class="mb-0">
                                                <mat-checkbox class="ml-2" color="accent" disableRipple="true"
                                                              formControlName="{{ category.id }}"
                                                              onClick="event.stopPropagation();">
                                                    <span style="color: white">{{ category.name }}</span>
                                                </mat-checkbox>
                                            </p>
                                        </section>


                                    </div>
                                </button>
                                <button class="ml-1 mr-1 popupBase" mat-button mat-icon-button aria-label="bulk-tools"
                                        *ngIf="currUser.isAdmin()"
                                        onClick='document.getElementById("bulkToolsPopup").classList.toggle("show");
                                                 document.getElementById("filterPopup").classList.remove("show")'>
                                    <mat-icon>difference</mat-icon>
                                    <div class="popupBox" id="bulkToolsPopup">
                                        <h4 class="mt-1 ml-3">Tömeges import/export</h4>

                                        <mat-form-field class="mt-3 ml-3" floatLabel="always" style="width: 90%">
                                            <mat-label style="color: white; font-size: large">Eszközlista importálása
                                            </mat-label>
                                            <input matInput type="file" name="excelImportFile" id="excelImportFile"
                                                   (change)="handleExcelImport($event)"
                                                   accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                                        </mat-form-field>

                                        <button class="ml-3 mb-2" mat-raised-button color="accent"
                                                (click)="exportDevices()">Aktuális lista exportálása
                                        </button>
                                    </div>
                                </button>
                                <button class="ml-1 addButton" color="warn" mat-mini-fab aria-label="Add"
                                        (click)="create()">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane" [ngClass]="{ 'active':currentTab==='devices'}" id="devices">
                                <div class="table-responsive">
                                    <mat-paginator [length]="sortedDevices.length" [pageSize]="25"
                                                   [pageSizeOptions]="[25, 50, 100]"
                                                   [pageIndex]="currDevicePageIndex"
                                                   (page)="devicePageChanged($event)">
                                    </mat-paginator>
                                    <table class="table" matSort (matSortChange)="sortDevices($event)">
                                        <thead class="text-orange">
                                        <th mat-sort-header="name">
                                            Név
                                        </th>
                                        <th mat-sort-header="maker">
                                            Gyártó
                                        </th>
                                        <th mat-sort-header="type">
                                            Típus
                                        </th>
                                        <th mat-sort-header="quantity">
                                            Mennyiség
                                        </th>
                                        <th mat-sort-header="category">
                                            Kategória
                                        </th>
                                        <th mat-sort-header="location">
                                            Tárolási hely
                                        </th>
                                        <th mat-sort-header="weight">
                                            Tömeg
                                        </th>
                                        <th mat-sort-header="textId">
                                            Azonosító
                                        </th>
                                        <th>
                                            Másolás
                                        </th>
                                        </thead>
                                        <tbody>
                                        <tr class="device-row" *ngFor="let device of pagedDevices">
                                            <td (click)="editDevice(device)">
                                                {{ device.name }}
                                            </td>
                                            <td (click)="editDevice(device)">
                                                {{ device.maker }}
                                            </td>
                                            <td (click)="editDevice(device)">
                                                {{ device.type }}
                                            </td>
                                            <td (click)="editDevice(device)">
                                                {{ device.quantity }}
                                            </td>
                                            <td (click)="editDevice(device)">
                                                {{ device.category.name }}
                                            </td>
                                            <td (click)="editDevice(device)">
                                                {{ device.location.name }}
                                            </td>
                                            <td (click)="editDevice(device)">
                                                {{ device.weight / 1000 | number: '1.0-2' }} kg
                                            </td>
                                            <td (click)="editDevice(device)">
                                                {{ device.textIdentifier }}
                                            </td>
                                            <td class="pb-0 pt-0">
                                                <button mat-raised-button type="button"
                                                        class="btn btn-info pull-center btn-just-icon"><i
                                                        class="material-icons pb-0 pt-0"
                                                        (click)="copyDevice(device)">content_copy</i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" [ngClass]="{ 'active':currentTab==='composites'}" id="composites">
                                <div class="table-responsive">
                                    <mat-paginator [length]="sortedComposites.length" [pageSize]="25"
                                                   [pageSizeOptions]="[25, 50, 100]"
                                                   [pageIndex]="currCompositePageIndex"
                                                   (page)="compositePageChanged($event)">
                                    </mat-paginator>
                                    <table class="table" matSort (matSortChange)="sortComposites($event)">
                                        <thead class="text-orange">
                                        <th mat-sort-header="name">
                                            Név
                                        </th>
                                        <th>
                                            Tartalmazott eszközök száma
                                        </th>
                                        <th mat-sort-header="category">
                                            Kategória
                                        </th>
                                        <th mat-sort-header="location">
                                            Tárolási hely
                                        </th>
                                        <th mat-sort-header="weight">
                                            Tömeg
                                        </th>
                                        <th mat-sort-header="textId">
                                            Azonosító
                                        </th>
                                        </thead>
                                        <tbody>
                                        <tr class="device-row"
                                            *ngFor="let compositeItem of pagedComposites">
                                            <td (click)="editCompositeItem(compositeItem)">
                                                {{ compositeItem.name }}
                                            </td>
                                            <td (click)="editCompositeItem(compositeItem)">
                                                {{ compositeItem.devices.length }}
                                            </td>
                                            <td (click)="editCompositeItem(compositeItem)">
                                                {{ compositeItem.category.name }}
                                            </td>
                                            <td (click)="editCompositeItem(compositeItem)">
                                                {{ compositeItem.location.name }}
                                            </td>
                                            <td (click)="editCompositeItem(compositeItem)">
                                                {{ compositeItem.getWeight() / 1000 | number: '1.0-2' }} kg
                                            </td>
                                            <td (click)="editCompositeItem(compositeItem)">
                                                {{ compositeItem.textIdentifier }}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
