<div class="container-fluid" style="padding-right: 24px">
  <div class="row">

    <div class="col-xl-7 col-lg-10 col-md-12">
      <mat-card class="card-with-icon">
        <mat-card-header style="padding-bottom: 16px">
          <h4 class="card-header-text bg-blue">Személyes adatok</h4>
        </mat-card-header>
        <mat-card-content>
          <div class="container-fluid">

            <div class="row">
              <div class="col-lg-6 col-md-12">
                <mat-form-field class="full-width">
                  <mat-label>Felhasználónév</mat-label>
                  <input matInput [formControl]="usernameFormControl">
                </mat-form-field>
              </div>

              <div class="col-lg-6 col-md-12">
                <mat-form-field class="full-width">
                  <mat-label>Teljes név</mat-label>
                  <input matInput [formControl]="fullNameFormControl">
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 col-md-12">
                <mat-form-field class="full-width">
                  <mat-label>Becenév</mat-label>
                  <input matInput [formControl]="nickNameFormControl">
                </mat-form-field>
              </div>

              <div class="col-lg-6 col-md-12">
                <mat-form-field class="full-width">
                  <mat-label>Személyi igazolvány szám (kiviteli generáláshoz)</mat-label>
                  <input matInput [formControl]="personalIdFormControl">
                </mat-form-field>
              </div>
            </div>

            <div class="full-width" style="display: flex; justify-content: end">
              <button matButton="filled" color="primary" (click)="updateUser()">Mentés</button>
            </div>

          </div>

        </mat-card-content>

      </mat-card>

      @if (admin) {
        <mat-card class="card-with-icon mt-5">
          <mat-card-header style="padding-bottom: 16px">
            <h4 class="card-header-text bg-blue">Alkalmazásbeállítások</h4>
          </mat-card-header>
          <mat-card-content>
            <div class="container-fluid">

              <div class="row">
                <h6>Vonalkódokkal kapcsolatos beállítások</h6>
              </div>

              <div class="row">
                <div class="col-12">
                  <mat-checkbox [checked]="ean8Forced" (change)="updateForceEan8($event)">
                    EAN-8 vonalkódtípus kényszerítése
                  </mat-checkbox>
                </div>
              </div>

            </div>
          </mat-card-content>
        </mat-card>
      }

    </div>

  </div>
</div>
