
.overview-card {
  mat-card-header {
    padding-bottom: 8px;

    h4 {
      font-weight: lighter;
      font-size: 1.3rem;
      margin-left: 16px;
    }
  }

  mat-card-content {
    display: flex;
    align-items: flex-end;
    height: 100%;

    div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 0;
    }
  }


  p {
    margin-bottom: 0;
    padding: 0 8px 0 8px;
    font-size: 22px;
  }
}

.list-loading-spinner {
  justify-self: center;
  width: 50px !important;
  height: 50px !important;
}
