<mat-expansion-panel class="basic-properties-panel" [expanded]="isNew">
  <mat-expansion-panel-header>
    <mat-panel-title>Alapadatok</mat-panel-title>
  </mat-expansion-panel-header>

  <form [formGroup]="rentForm" class="container-fluid mt-4">
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <mat-form-field class="full-width">
          <mat-label>Kivitel célja</mat-label>
          <input matInput formControlName="destination" autocomplete="off" />
        </mat-form-field>
      </div>
      <div class="col-lg-5 col-md-12">
        <mat-form-field class="full-width">
          <mat-label>Kivitel típusa</mat-label>
          <mat-select
            formControlName="type"
            matTooltip="Összetett esetén lehetőség van kivitel és visszavitel külön követésére, míg egyszerű esetén csak a visszavitelre lehetséges."
            matTooltipPosition="right"
          >
            @for (type of [RentType.SIMPLE, RentType.COMPLEX]; track type) {
              <mat-option [value]="type">{{ rentTypeLabels[type] }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-12">
        <mat-form-field class="full-width">
          <mat-label>Kiadó</mat-label>
          <input
            type="text"
            matInput
            formControlName="issuer"
            [matAutocomplete]="autoIssuer"
            autocomplete="off"
          />
          <mat-autocomplete
            autoActiveFirstOption
            #autoIssuer="matAutocomplete"
            [displayWith]="displayIssuer"
          >
            @for (issuer of filteredIssuers | async; track issuer.uuid) {
              <mat-option [value]="issuer">{{ displayIssuer(issuer) }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-lg-6 col-md-12">
        <mat-form-field class="full-width">
          <mat-label>Felelősségvállaló</mat-label>
          <input matInput formControlName="renterName" autocomplete="off" />
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-12">
        <mat-form-field class="full-width">
          <mat-label>Kivitel ideje</mat-label>
          <input
            matInput
            [matDatepicker]="pickerOut"
            formControlName="outDate"
            autocomplete="off"
          />
          <mat-datepicker-toggle matIconSuffix [for]="pickerOut"></mat-datepicker-toggle>
          <mat-datepicker #pickerOut></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-lg-4 col-md-12">
        <mat-form-field class="full-width">
          <mat-label>Várható visszaérkezés</mat-label>
          <input
            matInput
            [matDatepicker]="pickerExpected"
            formControlName="expectedReturnDate"
            [min]="rentForm.get('outDate')?.value ?? null"
            autocomplete="off"
          />
          <mat-datepicker-toggle matIconSuffix [for]="pickerExpected"></mat-datepicker-toggle>
          <mat-datepicker #pickerExpected></mat-datepicker>
          @if (rentForm.get('expectedReturnDate')?.hasError('matDatepickerMin')) {
            <mat-error>Nem lehet a kivitel ideje előtt!</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="col-lg-4 col-md-12">
        <mat-form-field class="full-width">
          <mat-label>Tényleges visszaérkezés</mat-label>
          <input
            matInput
            [matDatepicker]="pickerActual"
            formControlName="actualReturnDate"
            [min]="rentForm.get('outDate')?.value ?? null"
            autocomplete="off"
          />
          <mat-datepicker-toggle matIconSuffix [for]="pickerActual"></mat-datepicker-toggle>
          <mat-datepicker #pickerActual></mat-datepicker>
          @if (rentForm.get('actualReturnDate')?.hasError('matDatepickerMin')) {
            <mat-error>Nem lehet a kivitel ideje előtt!</mat-error>
          }
        </mat-form-field>
      </div>
    </div>
  </form>

  <div class="action-row mb-2">
    @if (canDelete()) {
      <button mat-button type="button" color="warn" (click)="deleteRent.emit()">Törlés</button>
    }
    <button
      mat-raised-button
      type="button"
      color="primary"
      [disabled]="disabled()"
      (click)="save.emit()"
    >
      Mentés
    </button>
  </div>
</mat-expansion-panel>

@if (rentData(); as rent) {
  <mat-expansion-panel class="stats-panel" expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>Statisztika</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="field-grid">
      <div class="field">
        <span class="label">Szállítmány össztömege</span>
        <span class="value">{{ rent.getSumWeight() / 1000 | number: '1.0-2' }} kg</span>
      </div>
      <div class="field">
        <span class="label">Kivitt eszköztípusok száma</span>
        <span class="value">{{ rent.rentItems.length }} db</span>
      </div>
      <div class="field">
        <span class="label">Kivitt tételek száma</span>
        <span class="value">{{ rent.getItemCount() }} db</span>
      </div>
    </div>
  </mat-expansion-panel>
}

@if (isNew) {
  <p class="no-items-text">Mentsd el a kivitelt eszközök hozzáadásához!</p>
} @else {
  <div class="row items-header-row">
    <h5 class="pt-3">Eszközök</h5>
    <div
      style="
        align-items: center;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      "
    >
      @if (!itemsLocked) {
        <mat-form-field style="width: 350px" [class.status-mode-field]="selectedStatusMode">
          <mat-label>{{
            selectedStatusMode ? 'Eszköz keresése státusz módosításához' : 'Eszköz hozzáadása'
          }}</mat-label>
          <input
            matInput
            placeholder="Vonalkód, vagy keresés név/azonosító alapján"
            autocomplete="off"
            [formControl]="addScannableFormControl"
            [matAutocomplete]="autoNewScannable"
            [matTooltip]="
              selectedStatusMode
                ? 'Kattints bele és használd a vonalkódolvasót, vagy keress rá a listán már szereplő eszközre, hogy a kijelölt állapotot rákapcsold!'
                : 'Kattints bele ebbe a mezőbe és használd a vonalkódolvasót automatikus hozzáadáshoz, vagy kezdd el keresni az eszköz nevét, majd válaszd ki a listából!'
            "
            matTooltipPosition="right"
            (keyup.escape)="addScannableFormControl.reset()"
            (keyup.enter)="onAddScannableEnterKey()"
          />

          <mat-autocomplete
            #autoNewScannable="matAutocomplete"
            (optionSelected)="onScannableOptionSelected()"
          >
            @for (option of filteredNewScannableOptions | async; track option.id) {
              <mat-option [value]="option.barcode">
                {{ option.name }} - {{ option.assetTag }}
              </mat-option>
            }
          </mat-autocomplete>

          @if (addScannableFormControl.value) {
            <button mat-icon-button matSuffix type="button" (click)="resolveAndAddScannable()">
              <mat-icon>add</mat-icon>
            </button>
          }
        </mat-form-field>
      }
      <mat-form-field style="width: 300px">
        <mat-label>Keresés a felvett eszközök között</mat-label>
        <input matInput [formControl]="itemSearchControl" autocomplete="off" />
        @if (itemSearchControl.value) {
          <button mat-icon-button matSuffix type="button" (click)="itemSearchControl.setValue('')">
            <mat-icon>clear</mat-icon>
          </button>
        }
      </mat-form-field>
    </div>
  </div>

  <div class="table-wrapper">
    <table mat-table [dataSource]="filteredItems" class="mat-elevation-z8 full-width">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Eszköz neve</th>
        <td mat-cell *matCellDef="let item">{{ item.scannable.name }}</td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Mennyiség</th>
        <td mat-cell *matCellDef="let item">{{ item.quantity }}&nbsp;db</td>
      </ng-container>

      <ng-container matColumnDef="addedBy">
        <th mat-header-cell *matHeaderCellDef>Hozzáadva</th>
        <td mat-cell *matCellDef="let item">
          {{ item.createdBy.nickname }} - {{ item.createdAt | date: 'yyyy. MM. d. H:mm' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef>Tömeg</th>
        <td mat-cell *matCellDef="let item">
          {{ (item.scannable.weight * item.quantity) / 1000 | number: '1.0-2' }}kg
        </td>
      </ng-container>

      <ng-container matColumnDef="packed">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="status-mode-header"
          [class.status-mode-active]="selectedStatusMode === 'packed'"
          matTooltip="Kattints ide, majd keress rá vagy szkennelj be egy eszközt a listán, hogy elpakoltnak jelöld"
          matTooltipPosition="above"
          (click)="toggleStatusMode('packed')"
        >
          Elpakolva
        </th>
        <td mat-cell *matCellDef="let item">
          <mat-checkbox
            color="primary"
            [disabled]="itemsLocked"
            [ngModel]="
              item.status === RentItemStatus.OUT || item.status === RentItemStatus.RETURNED
            "
            [ngModelOptions]="{ standalone: true }"
            (change)="onPackedChanged($event, item)"
          ></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="returned">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="status-mode-header"
          [class.status-mode-active]="selectedStatusMode === 'returned'"
          matTooltip="Kattints ide, majd keress rá vagy szkennelj be egy eszközt a listán, hogy visszaérkezettnek jelöld"
          matTooltipPosition="above"
          (click)="toggleStatusMode('returned')"
        >
          Visszaérkezett
        </th>
        <td mat-cell *matCellDef="let item">
          <mat-checkbox
            color="primary"
            [disabled]="itemsLocked"
            [ngModel]="item.status === RentItemStatus.RETURNED"
            [ngModelOptions]="{ standalone: true }"
            (change)="onReturnedChanged($event, item)"
          ></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="remove">
        <th mat-header-cell *matHeaderCellDef>Eltávolítás</th>
        <td mat-cell *matCellDef="let item">
          <button
            mat-icon-button
            class="delete-button"
            type="button"
            [disabled]="itemsLocked || !canRemove(item)"
            (click)="removeFromRent(item)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="itemColumns()"></tr>
      <tr mat-row *matRowDef="let row; columns: itemColumns()"></tr>
    </table>

    @if (filteredItems.length === 0) {
      <p class="no-items-text">Nincs ehhez a kivitelhez felvéve eszköz.</p>
    }
  </div>
}
