/* You can add global styles to this file, and also import other style files */
@use "resources/_theme-colors" as my-theme;
@use '@angular/material' as mat;

@include mat.core();

html {
  color-scheme: light dark; // enables automatic light/dark support
  height: 100%;
  margin: 0;

  @include mat.theme((
    color:  (
      primary: my-theme.$primary-palette,
      tertiary: my-theme.$tertiary-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}


.card-icon {
  margin-top: -30px;
  font-size: 42px;
  text-align: center;
  width: 64px !important;
  height: 64px !important;
  line-height: 64px;

  border-radius: 4px;
  color: #eaf1ff;
}

.card-with-icon {
  margin-top: 30px
}

.bg-blue {
  background: var(--mat-sys-primary );
}

.bg-green {
  background: light-dark(#689F38, #33691E);
}

.bg-orange {
  background: light-dark(#ff8f06, #ff8f06);
}

.bg-red {
  background: light-dark(#D50000, #C62828);
}

.text-alert {
  color: light-dark(#ff2c14, #ff2410);
}


.mat-mdc-row:hover .mat-mdc-cell {
  background: light-dark(#e1e2e8, #393b40);
  transition-duration: 200ms;
}

.full-width {
  width: 100%;
}
