<div class="modal-header">
    <h3>{{title}}</h3>
</div>

<div class="modal-body">
    <mat-tab-group dynamicHeight>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">edit_note</mat-icon>
                Eszköz adatok
            </ng-template>
            <form [formGroup]="deviceForm" class="mt-4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-7  col-sm-12">
                            <mat-form-field class="full-width-form-element">
                                <mat-label>Eszköz neve</mat-label>
                                <input matInput type="text" required autocomplete="off"
                                       formControlName="name">
                            </mat-form-field>
                        </div>
                        <div class="col-md-5 col-sm-12 publicRentableCheckbox">
                            <mat-checkbox class="full-width-form-element"
                                          formControlName="isPublicRentable">
                                Bárki által kölcsönözhető?
                            </mat-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7  col-sm-12">
                            <mat-form-field class="full-width-form-element">
                                <input matInput placeholder="Azonosító" type="text" required
                                       formControlName="textIdentifier"
                                       autocomplete="off">
                                <mat-error *ngIf="deviceForm.get('textIdentifier').hasError('textIdTaken')">
                                    Ez az azonosító már foglalt!
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-5  col-sm-12">
                            <mat-form-field class="full-width-form-element" hintLabel="{{forceEan8 ? '7 számból kell álljon!' : '5-20 karakterből kell álljon!'}}">
                                <input matInput placeholder="Vonalkód tartalma" type="text" required
                                       minlength="{{forceEan8 ? 7 : 5}}" maxlength="{{forceEan8 ? 7 : 20}}"
                                       formControlName="barcode" #barcode
                                       autocomplete="off">
                                <mat-error *ngIf="deviceForm.get('barcode').hasError('barcodeTaken')">
                                    Ez a vonalkód már foglalt!
                                </mat-error>
                                <mat-hint align="end">{{barcode.value?.length || 0}}/{{forceEan8 ? 7 : 20}}</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-5  col-sm-12">
                            <mat-form-field class="full-width-form-element">
                                <input matInput placeholder="Gyártó" type="text" autocomplete="off"
                                       formControlName="maker">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-5 col-md-7  col-sm-12">
                            <mat-form-field class="full-width-form-element">
                                <input matInput placeholder="Típus" type="text" autocomplete="off"
                                       formControlName="type">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4 col-md-7  col-sm-12">
                            <mat-form-field class="full-width-form-element">
                                <input matInput placeholder="Sorozatszám" type="text" autocomplete="off"
                                       formControlName="serial">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6  col-sm-12">
                            <mat-form-field class="full-width-form-element">
                                <mat-label>Kategória</mat-label>
                                <input type="text" matInput
                                       formControlName="category"
                                       [matAutocomplete]="autoCategory"
                                       required>
                                <mat-autocomplete #autoCategory="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredCategoryOptions"
                                                [value]="option.name">
                                        {{option.name}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6  col-sm-12">
                            <mat-form-field class="full-width-form-element">
                                <mat-label>Tárolási hely</mat-label>
                                <input type="text" matInput
                                       formControlName="location"
                                       [matAutocomplete]="autoLocation"
                                       required>
                                <mat-autocomplete #autoLocation="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredLocationOptions"
                                                [value]="option.name">
                                        {{option.name}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6  col-sm-12">
                            <mat-form-field class="full-width-form-element">
                                <input matInput placeholder="Beszerzés forrása" type="text" autocomplete="off"
                                       formControlName="acquiredFrom">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <mat-form-field class="full-width">
                                <mat-label>Beszerzés ideje</mat-label>
                                <input matInput [matDatepicker]="picker_acq"
                                       formControlName="dateOfAcquisition"
                                       autocomplete="off">
                                <mat-datepicker-toggle matSuffix
                                                       [for]="picker_acq"></mat-datepicker-toggle>
                                <mat-datepicker #picker_acq></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 col-md-6  col-sm-12">
                            <mat-form-field class="full-width">
                                <mat-label>Garancia vége</mat-label>
                                <mat-icon matSuffix style="color: #bf360c" *ngIf="device.endOfWarranty != null && !warrantyActive">sentiment_dissatisfied</mat-icon>
                                <input matInput [matDatepicker]="picker_warranty"
                                       formControlName="endOfWarranty"
                                       autocomplete="off">
                                <mat-datepicker-toggle matSuffix
                                                       [for]="picker_warranty"></mat-datepicker-toggle>
                                <mat-datepicker #picker_warranty></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6  col-sm-12">
                            <mat-form-field class="full-width-form-element">
                                <input matInput placeholder="Tömeg (gramm)" type="number" min="1"
                                       formControlName="weight">
                                <span matSuffix>g</span>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6  col-sm-12">
                            <mat-form-field class="full-width-form-element">
                                <input matInput placeholder="Érték (Ft)" type="number" min="1"
                                       formControlName="value">
                                <span matSuffix>Ft</span>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6  col-sm-12">
                            <mat-form-field class="full-width-form-element">
                                <mat-label>Tulajdonos</mat-label>
                                <input type="text" matInput
                                       formControlName="owner"
                                       [matAutocomplete]="autoOwner">
                                <mat-autocomplete #autoOwner="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredOwnerOptions"
                                                [value]="option.name">
                                        {{option.name}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <mat-radio-group aria-label="state" class="state-radio-buttons">
                                <mat-radio-button value="0" (change)="onStatusChange($event.value)"
                                                  [checked]="device.status.toString() === 'GOOD' ||
                                                        device.status == 0">
                                    Jó
                                </mat-radio-button>
                                <mat-radio-button value="1" (change)="onStatusChange($event.value)"
                                                  [checked]="device.status.toString() === 'NEEDS_REPAIR' ||
                                                        device.status == 1">
                                    Javításra szorul
                                </mat-radio-button>
                                <mat-radio-button value="2" (change)="onStatusChange($event.value)"
                                                  [checked]="device.status.toString() === 'SCRAPPED' ||
                                                        device.status == 2">
                                    Selejtezve
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <mat-form-field class="full-width-form-element">
                                <input matInput placeholder="Birtokolt mennyiség azonos vonalkód alatt"
                                       formControlName="quantity"
                                       type="number" min="1" [defaultValue]="1" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <mat-form-field class="col-md-12">
                            <mat-label>Megjegyzés</mat-label>
                            <textarea matInput formControlName="comment"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="pull-right">
                        <mat-slide-toggle *ngIf="admin && device.id !== -1"
                                          class="pt-3"
                                          (change)="deleteConfirmed = $event.checked"
                                          color="warn">
                            <button mat-icon-button color="warn" type="button"
                                    (click)="delete(device)"
                                    [disabled]="!deleteConfirmed">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-slide-toggle>
                        <button mat-raised-button type="button" mat-dialog-close style="margin-right: 4px"
                                (click)="activeModal.dismiss(0)">
                            Vissza
                        </button>
                        <button mat-raised-button type="button" class="btn btn-info"
                                [disabled]="deviceForm.invalid"
                                (click)="save()">
                            Mentés
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </mat-tab>
        <mat-tab *ngIf="device.id != -1">
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">local_shipping</mat-icon>
                Eszközhöz tartozó szállítók
            </ng-template>

            <h4 class="no-items-text pt-4" *ngIf="rentitemsAndRents.length === 0">Nincs ehhez az eszközhöz tartozó kivitel!</h4>

            <div class="table-responsive" *ngIf="rentitemsAndRents.length > 0">
                <table class="table">
                    <thead class="text-orange">
                    <th></th>
                    <th>
                        Kivitel célja
                    </th>
                    <th>
                        Kivitel felelőse
                    </th>
                    <th>
                        Kivitel dátuma
                    </th>
                    <th>
                        Várható visszaérkezés
                    </th>
                    <th *ngIf="device.quantity > 1">
                        Kivitt mennyiség
                    </th>
                    </thead>
                    <tbody>
                    <tr class="list-row {{item.rent.isClosed ? 'finished' : ''}}" *ngFor="let item of rentitemsAndRents" (click)="goToRent(item.rent.id)">
                        <td class="icon-column">
                            <mat-icon style="color: #c62828" *ngIf="!item.rent.isClosed">camera_outdoor</mat-icon>
                            <mat-icon style="color: #8bc34a" *ngIf="item.rent.isClosed">done_all</mat-icon>
                        </td>
                        <td class="pt-1">
                            {{item.rent.destination}}
                        </td>
                        <td class="pt-1">
                            {{item.rent.issuer.nickName}} ({{item.rent.issuer.familyName}} {{item.rent.issuer.givenName}})
                        </td>
                        <td class="pt-1">
                            {{item.rent.outDate | date:'yyyy. MM. dd.'}}
                        </td>
                        <td class="pt-1">
                            {{item.rent.expBackDate | date:'yyyy. MM. dd.'}}
                        </td>
                        <td class="pt-1" *ngIf="device.quantity > 1">
                            {{item.rentItem.outQuantity}} db
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </mat-tab>
        <mat-tab *ngIf="device.id != -1">
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">bug_report</mat-icon>
                Eszközhöz tartozó hibajegyek
            </ng-template>

            <div style="align-content: center; text-align: center" *ngIf="tickets.length === 0">
                <h4 class="no-items-text pt-4">Nincs ehhez az eszközhöz tartozó aktív hibajegy!</h4>
                <button class="mt-1 mb-2" mat-flat-button color="accent" (click)="createTicket()">Új hiba jelentése</button>
            </div>


            <table class="table" *ngIf="tickets.length > 0">
                <thead class="text-orange">
                <th>

                </th>
                <th>
                </th>
                <th>
                    Létrehozva
                </th>
                <th>
                    Létrehozó
                </th>
                <th>
                    Leírás
                </th>
                <button class="pull-right mt-1" mat-mini-fab color="accent" (click)="createTicket()"><mat-icon>add</mat-icon></button>
                </thead>
                <tbody>
                <tr class="list-row {{ticket.status === 2 ? 'finished' : ''}}" *ngFor="let ticket of tickets" (click)="editTicket(ticket.id)">
                    <td class="icon-column">
                        <mat-icon style="color: #c62828" *ngIf="ticket.severity === 2 || ticket.severity === 'SEVERE'">report</mat-icon>
                        <mat-icon style="color: #ffbe3b" *ngIf="ticket.severity === 1 || ticket.severity === 'MEDIUM'">warning</mat-icon>
                        <mat-icon style="color: #8bc34a" *ngIf="ticket.severity === 0 || ticket.severity === 'LIGHT'">announcement</mat-icon>
                    </td>
                    <td class="icon-column">
                        <mat-icon style="color: #c62828" *ngIf="ticket.status === 0 || ticket.status === 'OPEN'">help_outline</mat-icon>
                        <mat-icon style="color: #ffbe3b" *ngIf="ticket.status === 1 || ticket.status === 'WORKING_ON_IT'">construction</mat-icon>
                        <mat-icon style="color: #8bc34a" *ngIf="ticket.status === 2 || ticket.status === 'CLOSED'">done</mat-icon>
                    </td>
                    <td class="pt-1">
                        {{ticket.dateOfWriting | date:'yyyy. MM. dd.'}}
                    </td>
                    <td class="pt-1">
                        {{ticket.writer.nickName}}
                    </td>
                    <td class="pt-1">
                        {{ticket.body.slice(0, 75)}}<span *ngIf="ticket.body.length > 75">...</span>
                    </td>
                </tr>
                </tbody>
            </table>

        </mat-tab>
    </mat-tab-group>

</div>
