<div class="modal-header">
    <div class="container-fluid">
        <div class="row">
            <h3 class="col-sm-11 mb-0">{{title}}</h3>
            <div *ngIf="ticket.id !== -1" class="col-sm-1">
                <mat-icon class="pull-right" style="color: #c62828; font-size: 2.5em" *ngIf="ticket.severity === 2">
                    report
                </mat-icon>
                <mat-icon class="pull-right" style="color: #ffbe3b" *ngIf="ticket.severity === 1">warning</mat-icon>
                <mat-icon class="pull-right" style="color: #8bc34a" *ngIf="ticket.severity === 0">announcement
                </mat-icon>
            </div>
        </div>
        <div *ngIf="ticket.id !== -1" class="row">
            <p class="mb-0 creator-subtitle">Létrehozta: {{ticket.writer.familyName}} {{ticket.writer.givenName}}
                - {{ticket.dateOfWriting | date:'medium'}}</p>
        </div>
    </div>
</div>

<div class="modal-body">
    <div *ngIf="ticket.id !== -1">
        <div>
            <h4 style="font-weight: 400">Hiba leírása:</h4>
            <p>{{ticket.body}}</p>
        </div>
        <div class="pull-right mb-3">
            <mat-slide-toggle *ngIf="admin"
                              class="pt-3"
                              (change)="deleteConfirmed = $event.checked"
                              color="warn">
                <button mat-icon-button color="warn" type="button"
                        (click)="delete(ticket)"
                        [disabled]="!deleteConfirmed">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-slide-toggle>
            <button mat-raised-button type="button" mat-dialog-close
                    (click)="this.activeModal.dismiss(0)">
                Vissza
            </button>
        </div>
    </div>

    <div *ngIf="ticket.id === -1" class="container-fluid">
        <form class="mb-3" [formGroup]="ticketForm">
            <div class="row">
                <mat-form-field class="col-md-12">
                    <mat-label>Hiba leírása</mat-label>
                    <textarea matInput formControlName="body"></textarea>
                </mat-form-field>
            </div>
            <div class="pull-right">
                <mat-slide-toggle *ngIf="admin && ticket.id !== -1"
                                  class="pt-3"
                                  (change)="deleteConfirmed = $event.checked"
                                  color="warn">
                    <button mat-icon-button color="warn" type="button"
                            (click)="delete(ticket)"
                            [disabled]="!deleteConfirmed">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-slide-toggle>
                <button mat-raised-button type="button" mat-dialog-close style="margin-right: 4px"
                        (click)="this.activeModal.dismiss(0)">
                    Vissza
                </button>
                <button mat-raised-button type="button" class="btn btn-info"
                        [disabled]="ticketForm.invalid"
                        (click)="save()">
                    Mentés
                </button>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
</div>
